* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box; }

html, body, #map {
  height: 100%;
  font-family: "Roboto", arial, sans-serif;
  overflow-x: hidden; }

#map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0px;
  width: 100%;
  z-index: 0;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out; }

a#sidebartoggle {
  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
  width: 46px;
  height: 46px;
  line-height: 46px;
  border-radius: 0 3px 3px 0;
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  text-align: center;
  font-size: 26px; }

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0px;
  overflow-y: auto;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; }
  #sidebar h2 {
    margin-top: 25px;
    margin-bottom: 5px;
    padding: 0 20px;
    color: #444;
    font-size: 14px;
    font-weight: 500; }
  #sidebar a {
    display: block;
    padding: 10px 20px;
    background-position: bottom left;
    background-repeat: no-repeat;
    color: #444;
    -webkit-transition: all 50ms ease-in-out;
    -moz-transition: all 50ms ease-in-out;
    -ms-transition: all 50ms ease-in-out;
    -o-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
    font-size: 14px;
    font-weight: 400; }
    #sidebar a.small {
      padding: 8px 20px; }
    #sidebar a.report {
      font-style: italic;
      font-size: 12px;
      padding: 2px 20px; }
    #sidebar a small {
      display: block;
      color: #888;
      font-size: 12px; }
    #sidebar a span {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin: 1px 8px 1px 2px;
      border-radius: 8px;
      border: 2px solid #ddd;
      background: white;
      -webkit-transition: all 80ms ease-in-out;
      -moz-transition: all 80ms ease-in-out;
      -ms-transition: all 80ms ease-in-out;
      -o-transition: all 80ms ease-in-out;
      transition: all 80ms ease-in-out; }
      #sidebar a span::after {
        display: block;
        content: ' ';
        width: 4px;
        height: 4px;
        border-radius: 2px;
        margin: 4px;
        background: white; }
    #sidebar a:hover {
      color: #2196F3; }
      #sidebar a:hover span {
        border-color: #2196F3; }
    #sidebar a.selected span {
      border-color: #2196F3;
      background: #2196F3; }
  #sidebar .div {
    margin-top: 20px;
    border-top: 1px solid #ddd; }
  #sidebar .sub {
    margin-left: 20px;
    margin-bottom: 10px; }
    #sidebar .sub a {
      padding: 5px 20px;
      color: #888;
      font-size: 13px; }
      #sidebar .sub a:hover {
        color: #2196F3; }
      #sidebar .sub a span {
        width: 12px;
        height: 12px;
        border-radius: 6px; }
        #sidebar .sub a span::after {
          display: none; }
  #sidebar p.disclaimer {
    padding: 15px;
    color: #888;
    font-size: 10px; }
    #sidebar p.disclaimer a {
      display: inline;
      padding: 0;
      color: #2196F3;
      font-size: 10px; }
      #sidebar p.disclaimer a:hover {
        text-decoration: underline; }

#coords {
  width: 100px;
  margin-left: -50px;
  text-align: center; }
  #coords span {
    display: inline-block;
    padding: 5px 10px;
    color: #444;
    background: white;
    border-radius: 3px 3px 0 0;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; }

#serverinfo {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 180px;
  z-index: 12;
  background: white;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out; }
  @media all and (max-width: 599px) {
    #serverinfo {
      display: none !important; } }
  #serverinfo p {
    padding: 10px;
    font-size: 13px;
    line-height: 16px;
    color: #444;
    font-weight: 500; }
    #serverinfo p span#serverinfo_status {
      display: block;
      float: left;
      width: 12px;
      height: 12px;
      margin: 2px 8px 0 2px;
      border-radius: 6px;
      background: #C5513F; }
      #serverinfo p span#serverinfo_status.online {
        background: #3EC550; }
  #serverinfo #serverinfo_harvest {
    border-top: 1px solid #ddd;
    padding-bottom: 4px;
    display: none; }
    #serverinfo #serverinfo_harvest h2 {
      color: #777;
      font-weight: 500;
      font-size: 12px;
      padding: 8px 10px 2px 10px; }
    #serverinfo #serverinfo_harvest p {
      font-weight: 400;
      padding: 4px 10px; }
  #serverinfo.small {
    width: 80px; }
    #serverinfo.small p span.label, #serverinfo.small h2 span, #serverinfo.small p span.type {
      display: none; }

#searchbox {
  position: absolute;
  top: 15px;
  left: 60px;
  width: 320px;
  z-index: 12;
  height: 46px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out; }
  @media all and (max-width: 399px) {
    #searchbox {
      width: 245px; } }
  #searchbox input {
    font-family: "Roboto", arial, sans-serif;
    box-sizing: border-box;
    display: block;
    width: 320px;
    height: 46px;
    line-height: 46px;
    padding: 0 15px;
    border-radius: 3px; }
  #searchbox.open {
    height: auto; }
    #searchbox.open input {
      border-radius: 3px 3px 0 0; }
  #searchbox #searchresults {
    width: 320px;
    background: white;
    border-top: 1px solid #ddd;
    border-radius: 0 0 3px 3px; }
    #searchbox #searchresults a.location {
      display: block;
      height: 50px;
      padding-left: 50px;
      background-position: 12px 8px;
      background-repeat: no-repeat;
      color: #444;
      font-size: 14px; }
      #searchbox #searchresults a.location.mine {
        background-image: url("images/mine_icon.png"); }
      #searchbox #searchresults a.location.poi {
        background-image: url("images/poi_icon.png"); }
      #searchbox #searchresults a.location.poi_statue {
        background-image: url("images/poi_statue_icon.png"); }
      #searchbox #searchresults a.location.poi_bridge {
        background-image: url("images/poi_bridge_icon.png"); }
      #searchbox #searchresults a.location.poi_fountain {
        background-image: url("images/poi_fountain_icon.png"); }
      #searchbox #searchresults a.location.guard_tower {
        background-image: url("images/guard_tower_icon.png"); }
      #searchbox #searchresults a.location.resource {
        background-image: url("images/resource_icon.png"); }
      #searchbox #searchresults a.location.deed_large {
        background-image: url("images/deed_large_icon.png"); }
      #searchbox #searchresults a.location.deed_small {
        background-image: url("images/deed_small_icon.png"); }
      #searchbox #searchresults a.location.deed_solo {
        background-image: url("images/deed_solo_icon.png"); }
      #searchbox #searchresults a.location.ruins {
        background-image: url("images/ruins_icon.png"); }
      #searchbox #searchresults a.location.forest {
        background-image: url("images/tree_icon.png"); }
      #searchbox #searchresults a.location.coords {
        background-image: url("images/location_icon.png"); }
      #searchbox #searchresults a.location span {
        display: block;
        height: 50px;
        padding-top: 10px;
        padding-left: 4px;
        border-bottom: 1px solid #ddd; }
        #searchbox #searchresults a.location span em {
          display: block;
          font-style: normal; }
          #searchbox #searchresults a.location span em.mayor {
            color: #888;
            font-size: 11px; }
      #searchbox #searchresults a.location.single span {
        padding-top: 0;
        line-height: 50px; }
      #searchbox #searchresults a.location.last span {
        border: none;
        border-radius: 0 0 3px 3px; }
      #searchbox #searchresults a.location:hover {
        background-color: #f7f7f7; }

#vote_reminder {
  display: none;
  position: absolute;
  top: 15px;
  left: 395px;
  width: 400px;
  height: 46px;
  line-height: 46px;
  z-index: 20;
  background: white;
  border-radius: 3px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
  -webkit-transition: all 80ms ease-in-out;
  -moz-transition: all 80ms ease-in-out;
  -ms-transition: all 80ms ease-in-out;
  -o-transition: all 80ms ease-in-out;
  transition: all 80ms ease-in-out; }
  #vote_reminder p {
    font-size: 14px;
    display: block; }
    #vote_reminder p a {
      color: #2196F3; }
  #vote_reminder span {
    font-weight: 500;
    font-size: 12px;
    color: #aaa;
    line-height: 32px;
    cursor: pointer;
    -webkit-transition: all 80ms ease-in-out;
    -moz-transition: all 80ms ease-in-out;
    -ms-transition: all 80ms ease-in-out;
    -o-transition: all 80ms ease-in-out;
    transition: all 80ms ease-in-out; }
    #vote_reminder span:hover {
      background: #eee; }
    #vote_reminder span.close_full {
      display: none; }
    #vote_reminder span.close {
      float: right;
      border-left: 1px solid #ddd;
      width: 46px;
      height: 46px;
      line-height: 46px;
      font-size: 16px;
      border-radius: 0 3px 3px 0; }

@media all and (max-width: 999px) {
  body.no_sidebar #vote_reminder {
    width: auto;
    right: 210px;
    height: auto; }
    body.no_sidebar #vote_reminder span.close {
      display: none; }
    body.no_sidebar #vote_reminder span.close_full {
      display: block;
      border-top: 1px solid #ddd; } }

@media all and (max-width: 919px) {
  body.no_sidebar #vote_reminder {
    right: 15px; }
    body.no_sidebar #vote_reminder span.close_full {
      line-height: 46px; } }

@media all and (max-width: 699px) {
  body.no_sidebar #vote_reminder {
    left: 60px; } }

@media all and (max-width: 399px) {
  body.no_sidebar #vote_reminder {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0; } }

body.sidebar a#sidebartoggle {
  left: 300px; }
  @media all and (max-width: 399px) {
    body.sidebar a#sidebartoggle {
      left: 260px; } }

body.sidebar #sidebar {
  width: 300px; }
  @media all and (max-width: 399px) {
    body.sidebar #sidebar {
      width: 260px; } }

body.sidebar #searchbox {
  left: 360px; }
  @media all and (max-width: 699px) {
    body.sidebar #searchbox {
      display: none; } }

@media all and (max-width: 899px) {
  body.sidebar #serverinfo {
    display: none !important; } }

body.sidebar #map {
  left: 300px;
  width: calc(100% - 300px); }
  @media all and (max-width: 399px) {
    body.sidebar #map {
      left: 260px;
      width: calc(100% - 260px); } }

body.sidebar #vote_reminder {
  left: 695px; }
  @media all and (max-width: 1304px) {
    body.sidebar #vote_reminder {
      width: auto;
      right: 210px;
      height: auto; }
      body.sidebar #vote_reminder span.close {
        display: none; }
      body.sidebar #vote_reminder span.close_full {
        display: block;
        border-top: 1px solid #ddd; } }
  @media all and (max-width: 1209px) {
    body.sidebar #vote_reminder {
      right: 15px; }
      body.sidebar #vote_reminder span.close_full {
        line-height: 46px; } }
  @media all and (max-width: 1029px) {
    body.sidebar #vote_reminder {
      left: 360px; } }
  @media all and (max-width: 679px) {
    body.sidebar #vote_reminder {
      left: 300px;
      top: 0;
      right: 0;
      border-radius: 0; } }
  @media all and (max-width: 599px) {
    body.sidebar #vote_reminder {
      top: 0;
      left: 0;
      right: 0;
      border-radius: 0; } }

#addform {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background: black;
  background: rgba(0, 0, 0, 0.4); }
  #addform iframe {
    display: block;
    width: 100%;
    max-width: 800px;
    height: 95%;
    height: calc(100% - 50px);
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; }
