doctype html
html
	head
		title Sklotopolis Map
		meta(name='viewport' content='width=device-width, initial-scale=1')

		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
		link(rel='stylesheet' href='style.css')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/transparency/0.11.0/transparency.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/Cookies.js/1.2.1/cookies.min.js')

	body
		include ./gtm.html
		
		#map
		#coords
			span#coordsc Mouse cursor at X0, Y0

		a#sidebartoggle(href='#' onclick='toggle_sidebar(); return false') &#x2261;
		#sidebar

			h2 Markers

			a#marker_deeds.selected(href='#' onclick='toggle_markers(\'deeds\'); return false') #[span] Deeds
			.sub
				a#marker_deeds_solo.selected(href='#' onclick='toggle_markers(\'deeds_solo\'); return false') #[span] Solo players
				a#marker_deeds_small.selected(href='#' onclick='toggle_markers(\'deeds_small\'); return false') #[span] Small settlements
				a#marker_deeds_large.selected(href='#' onclick='toggle_markers(\'deeds_large\'); return false') #[span] Large settlements
			a#marker_guard_towers.selected(href='#' onclick='toggle_markers(\'guard_towers\'); return false') #[span] Guard towers
			a#marker_resources.selected(href='#' onclick='toggle_markers(\'resources\'); return false') #[span] Resources
			a#marker_poi.selected(href='#' onclick='toggle_markers(\'poi\'); return false') #[span] Points of interest
			a#marker_trees(href='#' onclick='toggle_markers(\'trees\'); return false') #[span] Forests

			.div

			h2 Submit new locations
			a.small(href='#' onclick='show_add_form(\'deed\'); return false') Deed
			a.small(href='#' onclick='show_add_form(\'tower\'); return false') Guard tower
			a.small(href='#' onclick='show_add_form(\'resource\'); return false') Resource
			a.small(href='#' onclick='show_add_form(\'mine\'); return false') Public mine
			a.small(href='#' onclick='show_add_form(\'poi\'); return false') Point of interest
			a.small(href='#' onclick='show_add_form(\'trees\'); return false') Forest
			br
			a.small.report(href='#' onclick='show_add_form(\'report\'); return false') Report wrong location data

			.div

			h2 Links
			a.small(href='http://sklotopolis.freeforums.net/thread/39/map' target='_bank') Forum discussion
			a.small(href='http://sklotopolis.tk' target='_blank') Sklotopolis website

			.div

			p.disclaimer This interactive map is community-made. It is not associated with the Sklotopolis server or Wurm Unlimited. #[br] #[a(href='https://github.com/woubuc' target='_blank') Programmed by woubuc] - #[a(href='https://github.com/woubuc/wu-map/issues' target='_blank') Problems?]

		#searchbox
			input#search(type='text' placeholder='Search Sklotopolis map' onkeyup='search()' onfocus='search()' onblur='hide_search()' autocomplete='off')

			#searchresults
				a.location(href='#' onclick='')
					span
						em.name
						em.mayor
			

		#addform(onclick='hide_add_form()')
			iframe(src='about:blank')

		script(src='locations/deeds.js')
		script(src='locations/guard_towers.js')
		script(src='locations/resources.js')
		script(src='locations/poi.js')
		script(src='locations/trees.js')
		script(src='map.js')
		script(src='https://maps.googleapis.com/maps/api/js?signed_in=false&callback=init' async defer)