doctype html
html
	head
		title Sklotopolis Map

		link(rel='stylesheet' href='style.css')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/transparency/0.11.0/transparency.min.js')

	body
		#infobar
			#searchbox
				input#search(type='text' placeholder='Find location' onkeyup='update_locations()')

			#locations
				.location
					.name New Town
					a.view(href='#' onclick='show_on_map(907, 760)') View


		#map
		#coords
			span#coordsc X0, Y0

		a#addbtn(href='#' onclick='show_add_form()') Add your deed

		#addform(onclick='this.style.display=\'none\'')
			iframe(src='about:blank')

		script(src='locations.js')
		script(src='map.js')
		script(src='https://maps.googleapis.com/maps/api/js?signed_in=false&callback=init' async defer)